<!DOCTYPE html>
<html lang="en" ng-app="streamerApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Streamer</title>
    <!-- bower:js -->
    <!-- endbower -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- include: "type": "js", "files": "scripts/**/*.js" -->
    <!-- include: "type": "css", "files": "styles/**/*.css" -->
    <style>
            .ng-valid .ng-touched{
                background-color: green;
            }  
            .ng-invalid .ng-dirty{
                 background-color: red;
             }
        
    </style>
  </head>
  <body>
      <div class="col-xs-4" ng-controller="StreamerController">
        <form ng-submit="addChannel()" class="input-group">
<div class="form-group has-error has-feedback">
          <input ng-model="channel" type="text" class="form-control" placeholder="Channel" ng-pattern="/^[0-9a-zA-Z_]*$/" required>
</div>
          <span class="input-group-btn">
            <input class="btn btn-primary" type="submit" value="Add">
          </span>
        </form>
        <div class="list-group">
          <div class="list-group-item" ng-repeat="stream in streams"> 
            <a href="#" class="list-group-item clearfix">
                {{stream.channel}}
                <span ng-switch="stream.channel_status">
                    <span ng-switch-when="live" class="label label-success">Live</span>
                    <span ng-switch-when="offline" class="label label-danger">Offline</span>
                </span> 
                <span class="pull-right">
                    <span ng-switch="stream.process_status">
                        <button ng-switch-when="started" ng-click="stop(stream)" class="btn btn-xs btn-info">Stop</button>
                        <button ng-switch-when="stopped" ng-click="start(stream)" class="btn btn-xs btn-success">Start</button>
                    </span> 
                    <button class="btn btn-xs btn-danger" ng-click="remove(stream)">Delete</button>
                </span>
            </a>
         </div>
        </div>
      </div> 

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
